/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* fonts */

@font-face {
  font-family: 'Sentient-MediumItalic';
  src: 
url('../fonts/Sentient-MediumItalic.woff') format('woff');
       
       font-weight: 500;
       font-display: swap;
       font-style: italic;
}

@font-face {
  font-family: RadioGrotesk;
  font-weight: normal;
  src: url("fonts/PPRadioGrotesk-Regular.woff2") format("woff2");
}

@font-face {
  font-family: RadioGrotesk;
  font-weight: bold;
  src: url("fonts/PPRadioGrotesk-Bold.woff2") format("woff2");
}
@font-face {
  font-family: Sentient;
  font-weight: bold;
  src: url("fonts/Sentient-Bold.woff") format("opentype");
}
@font-face {
  font-family: Sentient;
  font-weight: regular;
  src: url("fonts/Sentient-Regular.woff") format("opentype");
}
.yellow{
  color: #F4F82E;
}

.blue {
  color: #2E2AEF;
}
/* start of custom css */
body {
  background-color: #F5F5F5;
  padding-left: 5vw;
  padding-right: 5vw;
  max-width: 100vw;
  overflow-x: hidden;
  max-height: 100vh;
}
a {
  color: inherit; /* #2E2AEF colors for links too */
  text-decoration: inherit; /* no underline */
}
h1 {
  font-size: 7rem;
  font-family: RadioGrotesk, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 80%;
}

h2 {
  font-size: 1rem;
  font-family: Sentient-Bold;
  line-height: 120%;
}
p {
  font-family: Sentient-Regular;
  font-size: 1rem;
  line-height: 150%;
}
h3 {
  font-family: kepler-std-display, serif;
  font-weight: 700;
  font-style: italic;
  font-size: 4rem;
}
h4 {
  /*quotes text*/
  font-family: RadioGrotesk, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 4vmin;
  color: #F5F5F5;
  hanging-punctuation: first;
}


h5 { /*quotes heading*/
  font-family: Sentient;
  font-size: 1rem;
  line-height: 1.4rem;
  color: #222222;
}

h6 {
  /*nav bar */
  font-family: RadioGrotesk, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
}

a h6:hover {
  color: #2E2AEF;
}

@property --x {
	syntax: '<percentage>';
	inherits: true;
	initial-value: 70%;
}

@property --y {
	syntax: '<percentage>';
	inherits: true;
	initial-value: 50%;
}

.hero {
height: 100vh;

  background-color: #F5F5F5;
  max-width: 100vw;

}



section {
  column-gap: 2rem;
}
.secondary-wrapper {
    padding-left: 5vw;
}
.hero--secondary {
  
  --mask: radial-gradient(
    circle 500px at var(--x, 100%) var(--y, 100%),
    black 25%,
    transparent 0
  );

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222222;
  color: rgb(9, 14, 23);
  -webkit-mask-image: var(--mask);
  mask-image: var(--mask);
  column-gap: 2rem;
  max-width: 100vw;
  transition: --x 300ms 20ms ease-out, --y 300ms 20ms ease-out;
}

.col-6 {
  min-width: 75%;
  max-width: 75%;
}
.col-1 {
  min-width: 12.5%;
}

.col-2 {
  width: 25%;
 
}

.col-3 {
  width: 37%


}

.col-5 {
 width: 62.5%;
}
.col-4 {
    width: 50%;
   }

hr {
  border-color: #191919;
  border-width: 1px;
}


/* Style the links inside the navigation bar */

.topnav {
  overflow: hidden;
  display: flex;
  top: 0;
  align-self: flex-start;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.topnav a {
  float: left;
  color: #222222;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover{
    color: #2E2AEF;
}

#navbar {
  border-color: #191919;
  border-width: 1px;
  display: flex;
  border-style: solid;
  margin: 10px;
  border-radius: 25px;
  overflow: hidden;
  Width: 6rem;
  transition: all 0.5s ease;
 
}

#navbarback {
  background-color: white;
  margin: 10px;
  border-radius: 25px;
}
#back a {
  color: #F5F5F5;
}
#navbar:hover {
    width: 40vw;
  max-width: fit-content;
  transition: all 0.5s ease;
}
/*topnav @ hero secondary*/

.secondary-wrapper .topnav a {
  float: left;
  color: #F5F5F5;
  text-align: center;

  text-decoration: none;
  font-size: 17px;
}
.secondary-wrapper #navbar {
  border-color: #F5F5F5;
  border-width: 1px;
  display: flex;
  border-style: solid;
  margin: 10px;
  border-radius: 25px;
  overflow: hidden;
  min-width: 15px;

  -webkit-transition: min-width 1s;
  transition: width 1s;
}

.secondary #back {
  background-color: #F5F5F5;
  margin: 10px;
  border-radius: 25px;
}
.secondary #back a {
  color: #191919;
}
.secondary h1 {
  color: #F5F5F5;
}
.secondary h1 a:hover {
  color: #2E2AEF;
}


/* draggable stickers */
.draggable {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;


}
.draggable:hover {
    background-color: #F4F82E;
    transform: rotate(-10deg);
    
}
.draggable p {
  font-size: 1rem;
  font-family: RadioGrotesk;
  line-height: 100%;
  
}




.circle {
	position: absolute;
  border: solid 1px #ccc;
	width: 20vw; 
	height: 20vw; 
  border-radius: 50%;  
  background-color: white;
  mix-blend-mode: difference;
  transform: translate(-31%, -31%);
  pointer-events:none;
  z-index: 9;

}






