/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* fonts */

@font-face {
  font-family: 'Sentient-MediumItalic';
  src: 
url('../fonts/Sentient-MediumItalic.woff') format('woff');
       
       font-weight: 500;
       font-display: swap;
       font-style: italic;
}

@font-face {
  font-family: RadioGrotesk;
  font-weight: normal;
  src: url("fonts/PPRadioGrotesk-Regular.woff2") format("woff2");
}

@font-face {
  font-family: RadioGrotesk;
  font-weight: bold;
  src: url("fonts/PPRadioGrotesk-Bold.woff2") format("woff2");
}
@font-face {
  font-family: Sentient;
  font-weight: bold;
  src: url("fonts/Sentient-Bold.woff") format("opentype");
}
@font-face {
  font-family: Sentient;
  font-weight: regular;
  src: url("fonts/Sentient-Regular.woff") format("opentype");
}
.yellow{
  color: #F4F82E;
}

.blue {
  color: #2E2AEF;
}
/* start of custom css */
body {
  background-color: #F5F5F5;
  padding-left: 5vw;
  padding-right: 5vw;
  max-width: 100vw;
  overflow-x: hidden;
  max-height: 100vh;
}
a {
  color: inherit; /* #2E2AEF colors for links too */
  text-decoration: inherit; /* no underline */
}
h1 {
  font-size: 7rem;
  font-family: RadioGrotesk, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 80%;
}

h2 {
  font-size: 1rem;
  font-family: Sentient-Bold;
  line-height: 120%;
}
p {
  font-family: Sentient-Regular;
  font-size: 1rem;
  line-height: 150%;
}
h3 {
  font-family: kepler-std-display, serif;
  font-weight: 700;
  font-style: italic;
  font-size: 4rem;
}
h4 {
  /*quotes text*/
  font-family: RadioGrotesk, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 4vmin;
  color: #F5F5F5;
  hanging-punctuation: first;
}

.quote h4 {
  color: #F5F5F5;
}
h5 { /*quotes heading*/
  font-family: Sentient;
  font-size: 1rem;
  line-height: 1.4rem;
  color: #222222;
}

h6 {
  /*nav bar */
  font-family: RadioGrotesk, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
}

a h6:hover {
  color: #2E2AEF;
}

@property --x {
	syntax: '<percentage>';
	inherits: true;
	initial-value: 70%;
}

@property --y {
	syntax: '<percentage>';
	inherits: true;
	initial-value: 50%;
}

.hero {
height: 100vh;

  background-color: #F5F5F5;
  max-width: 100vw;

}



section {
  column-gap: 2rem;
}
.secondary-wrapper {
    padding-left: 5vw;
}
.hero--secondary {
  
  --mask: radial-gradient(
    circle 500px at var(--x, 100%) var(--y, 100%),
    #222222 25%,
    transparent 0
  );

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222222;
  color: rgb(9, 14, 23);
  -webkit-mask-image: var(--mask);
  mask-image: var(--mask);
  column-gap: 2rem;
  max-width: 100vw;
  transition: --x 300ms 20ms ease-out, --y 300ms 20ms ease-out;
}

.col-6 {
  min-width: 75%;
  max-width: 75%;
}
.col-1 {
  min-width: 12.5%;
}

.col-2 {
  width: 25%;
 
}

.col-3 {
  width: 37%


}

.col-5 {
 width: 62.5%;
}
.col-4 {
    width: 50%;
   }

hr {
  border-color: #191919;
  border-width: 1px;
}

/* HOMEPAGE */
#homepage-gif{
  position: absolute;
}

.home-page{
  overflow-y: hidden;
}


.category-wrapper h1:hover{
  font-size: 8rem;
  color: #2E2AEF;
}
.category-wrapper h1{
  transition: all 0.5s ease;
}

.category-wrapper {
  position: absolute;
  padding-left: 5vw;
  padding-bottom: 5vh;
  bottom: 0;
  left: 0;
}
.topnav {
  overflow: hidden;
  display: flex;
  top: 0;
  align-self: flex-start;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

/* Style the links inside the navigation bar */

#quotes-page #navbar a {
    color: white;

}
.topnav a {
  float: left;
  color: #222222;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover{
    color: #2E2AEF;
}

#navbar {
  border-color: #191919;
  border-width: 1px;
  display: flex;
  border-style: solid;
  margin: 10px;
  border-radius: 25px;
  overflow: hidden;
  Width: 6rem;
  transition: all 0.5s ease;
 
}

#navbarback {
  background-color: white;
  margin: 10px;
  border-radius: 25px;
}
#back a {
  color: #F5F5F5;
}
#navbar:hover {
    width: 40vw;
  max-width: fit-content;
  transition: all 0.5s ease;
}
/*topnav @ hero secondary*/

.secondary-wrapper .topnav a {
  float: left;
  color: #F5F5F5;
  text-align: center;

  text-decoration: none;
  font-size: 17px;
}
.secondary-wrapper #navbar {
  border-color: #F5F5F5;
  border-width: 1px;
  display: flex;
  border-style: solid;
  margin: 10px;
  border-radius: 25px;
  overflow: hidden;
  min-width: 15px;

  -webkit-transition: min-width 1s;
  transition: width 1s;
}

.secondary #back {
  background-color: #F5F5F5;
  margin: 10px;
  border-radius: 25px;
}
.secondary #back a {
  color: #191919;
}
.secondary h1 {
  color: #F5F5F5;
}
.secondary h1 a:hover {
  color: #2E2AEF;
}

/* category page */

.categorysection {
    display: flex;
    height: 90vh;
}
#category-secondary {
 
    transition: all 0.5s ease;

  
  --mask: radial-gradient(
    circle 200px at var(--x, 100%) var(--y, 100%),
    #222222 25%,
    transparent 0
  );

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #191919;
  color: rgb(9, 14, 23);
  -webkit-mask-image: var(--mask);
  mask-image: var(--mask);
  column-gap: 2rem;
  max-width: 100vw;
  transition: --x 300ms 20ms ease-out, --y 300ms 20ms ease-out;
}
/* @keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
} */

/* DATA POINT */

svg, svg * {
  pointer-events: none;
}

svg:hover  {
  fill: #2E2AEF;
}

.data-point-wrapper{
  width: 8vw;
  height: 8vw;
  position: absolute;
  justify-content: center;
  transform: translate(10%,10%);
  border-radius: 50%;
  
}
.wrapper-circle{
  width: 0vw;
  height: 0vw;
  background-color: #222222;
  position: absolute;
  top: inherit;
  left: inherit;
  border-radius: 50%;
  transform: translate(-3%,-20%);
  padding: 20px;
  mix-blend-mode: difference;
  z-index: 11;
}

.data-point {
width:0vw;
height:0vw;
transition:all 0.5s ease;
  
  text-align: center;

  overflow-x: hidden;
  overflow-y: hidden;  
  z-index: 11;
  border-radius: 50%;
  padding: 20px;
}

.data-point .data-wrapper {
  width: 14vw;
  height: 14vw;
 display: flex;
 flex-direction:column;
 align-items: center;
}

.data-point-wrapper:hover .data-point{
width:14vw;
height: 14vw;
color: #2E2AEF;
transform: none;
}
.data-point-wrapper:hover .blob{
  display: none;
  }

    

.blob {
  height: 1rem;
  width: 1rem;
  background-color: #191919;
  border-radius: 50%;
 position: absolute;
 top: 50%;
 left: 50%;
  pointer-events: auto;

}
.secondary-wrapper .blob {
  padding: 40px;
  z-index: -1;
}

/* QUOTES page*/

#quotes-page {
  width: 100vw;
  background-color:#191919;

}
.quotes-wrapper {
  display: flex;
  max-height: 100vh;
  overflow-y: hidden;
  position: absolute;
  top: 0;
  column-gap: 50px;
  min-width: 100vw;



}

#quotes div {
  padding-top: 50px;
  scroll-snap-align: center;
}

.quotes-navigation {
height: 90vh;
  flex-direction: column;
  padding-top: 10vh;
}

.slider-wrapper {
margin-left: auto;
margin-right: auto;
}
.quotes-navigation h2 {
  color: #F5F5F5;
  font-family:Arial, Helvetica, sans-serif
}
.quotes-navigation h5 {
    color: #F5F5F5;
    font-family:RadioGrotesk;
    font-size: 2rem;
    line-height: 2.3rem;
  }
.quote-link p {
  color: #555555;
  font-size: 0.8rem;
  font-family:Arial, Helvetica, sans-serif;
  transition: all 0.5s ease;
}

.quotes-navigation div {
  padding-top: 20px;
  max-width: 25vw;

}
.quote-link {
  padding: 1rem;
margin: 20px;
  transition: all 0.5s ease;

 



}
.quote-link h2 {
  color: #F5F5F5;
  font-size: 0.8rem;
}
#quotes {
  padding-left: 5vh;
  padding-right: 5vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  max-height: 100vh;
}
#quotes:before,
#quotes:after {
  content: "";
}

#quote-end-spacer {
  min-height: 25vh;
}
.gradient-overlay {
  position: fixed;

  z-index: 8;
  min-height: 40vh;
  min-width: 50vw;
}
/*marquee*/
.marquee {
    position: fixed;
width: 50vw;
    max-width: 100%;
    height: 200px;
    overflow-x: hidden;
  }
  
  .track {
    position: fixed;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 32s linear infinite;
  }
  
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }

/* draggable stickers */
.draggable {
  width: 10rem;
  height: 10rem;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;


}

.draggable:hover {
    background-color: #F4F82E;
    transform: rotate(-10deg);
    
}
.draggable p {
  font-size: 1rem;
  font-family: RadioGrotesk;
  line-height: 100%;
  
}

.draggable6 { /*category draggable*/
  
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/imgs/BIGARROW_white.svg');
  background-size: contain; 
  transition: all 0.5s ease;
  height: 14rem;
  width: 14rem;
}

.draggable6 div {
width: 60%;
}
.draggable6 p {
  background-color: #f5f5f5;
  color: #2E2AEF;
  transition: all 0.56s ease;
  }

.draggable6:hover p {
  background-color: #2E2AEF;
  color: #f5f5f5;
  }


.draggable6:hover { /*resources draggable*/
  background-image: url('/imgs/BIGARROW_blue.svg');
  background-size: contain; 
  transform: rotate(0deg);
  
}

.draggable6:hover div{ /*resources draggable*/

  transform: rotate(0deg);
  
}

#quotes-page {
  max-height: 100vh;
  background-color:#191919;
}
#quotes {
  width: 50vw;

}

/* tiny slider */


.my-slider {

  max-height: 80vh;

  width: 50vw;


}
.slider div {
min-height:30vh;
display: flex;
align-items: center;
padding: 0 20px;
}

/*data point page */
#datapoint-wrapper {
  display: flex;
  min-width: 90vw
}

/*circle that follows cursor*/
#cursorcircle{
  height: 100px;
  width: 100px;
  position:absolute;

}
#cursorcircle div {
  mix-blend-mode: difference;
  background-color: white;
  height: 100px;
  width:100px;
}

#p5wrapper {
  position: absolute;
  right:0;
  height: 100vh;
  width: 35vw;
}



.underline {
    text-decoration: underline;
}

section {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;

}
#loading {
    min-height:100vh;
    min-width: 100vw;
    z-index: 11;
    background-color: red;
    position: absolute;
    top:0;
    left:0;
}
/*data-point page */

.data-page h1 {
    font-size: 5rem;
    line-height: 1;
}
.data-page h2 {
    font-size: 1.4rem;
    font-family: 'Sentient-MediumItalic';
}
.data-page p {
    font-size: 1rem;
}

.data-page .col-4 {
position: absolute;
top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.data-page .col-3 {
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    width: 32vw;
    border-left: 1px solid #222222;
}
.data-page .col-3 img{
  height: 100vh;
  position: absolute;
  right: 0;
}

/*quote-page sliders */


button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.previous {
   background: url('/imgs/UP_base.svg');
  position: absolute; 
  width: 2.5rem;
  height: 2.5rem;
  top: 5vh;
  left: 62.5vw;
  z-index: 11;
}
.next {
   background: url('/imgs/DOWN_base.svg');
   position: absolute; 
  top: 90vh;
  left: 62.5vw;
  z-index: 11;
  width: 2.5rem;
  height:2.5rem;
}

.next:hover{
  background: url('/imgs/DOWN_hover.svg');
}
.previous:hover{
  background: url('/imgs/UP_hover.svg');
}
/*ABOUT PAGE */

#about{
  max-width: 100vw;
}
.about-page{

background-color: #191919;
  display: flex;
  column-gap: 20px;
  padding-top: 10vh;
transition: 1s;
top: 0;
left: 5vw;
position: fixed;
max-width: 90vw;
height: 100vh;
width: 90vw;
z-index: 10;
  
}
.about-page .col-3{
  height: 100%;
  padding-right: 10vw;

}
.about-page .col-5{
  height: 100%;
}

.about-page h5 {
  line-height: 130%;
  font-family: RadioGrotesk;
  color: #555555;
  margin-bottom: 1rem;

}

.about-page h1 {
  color: #F5F5F5;

}

.circle {
	position: absolute;
  border: solid 1px #ccc;
	width: 20vw; 
	height: 20vw; 
  border-radius: 50%;  
  background-color: white;
  mix-blend-mode: difference;
  transform: translate(-31%, -31%);
  pointer-events:none;
  z-index: 9;

}
/*landing page */

.landing {
  max-height: 100vh;
}

#landing-secondary{
  --mask: radial-gradient(
    circle 250px at var(--x, 100%) var(--y, 100%),
    #222222 25%,
    transparent 0
  );
}

#landing-button {
  background-color: #0A0A0A;
  border: 1px solid white;
  border-radius: 50%;
  width: 8vw;
  height: 8vw;
 
  position: absolute;
  left: 70vw;
  top: 40vh;
}
.secondary-wrapper #landing-button{
  background-color: #2E2AEF;

}

.gifs {
  position: absolute;
  z-index: 10;
}

#about-link {
  position: absolute;
  transform: rotate(90deg);
  right: -3vw;
  top: 50vh;

}

.description-subheader {
  font-family: 'Sentient-MediumItalic';
  font-size: 1.2rem;
}










